
.span-24 {
   background: #FCFCFC;
   border-left: 12px solid transparent;
   border-right: 12px solid transparent;
}
h2 {
   border-top:4px solid #888;
}
h3 {
   border-top:3px solid #CCC;
}
pre, code, tt {font:1.3em monospace;line-height:1.5;}

.mot1 {
   color: #FF0000;
   background: #FFAAAA;
   font-weight:bold;
}
table tr:nth-child(even) td.mot1 {
   background: #FF0000;
}
.mot2 {
   color: #0000FF;
   background: #AAAAFF;
   font-weight:bold;
}
td.mot2 {
   background: #0000FF;
}
.mot3 {
   color: #007F7F;
   background: #AAD4D4;
   font-weight:bold;
}
table tr:nth-child(even) td.mot3 {
   background: #007F7F;
}
.mot4 {
   color: #FFBFBF;
   background: #FFE9E9;
   font-weight:bold;
}
td.mot4 {
   background: #FFBFBF;
}
.mot5 {
   color: #BF7F3F;
   background: #E9D4BF;
   font-weight:bold;
}
table tr:nth-child(even) td.mot5 {
   background: #BF7F3F;
}
.mot6 {
   color: #FF00FF;
   background: #FFAAFF;
   font-weight:bold;
}
td.mot6 {
   background: #FF00FF;
}
.mot7 {
   color: #3F3F3F;
   background: #BFBFBF;
   font-weight:bold;
}
table tr:nth-child(even) td.mot7 {
   background: #3F3F3F;
}
.mot8 {
   color: #7F007F;
   background: #D4AAD4;
   font-weight:bold;
}
td.mot8 {
   background: #7F007F;
}
.mot9 {
   color: #FF7F00;
   background: #FFD4AA;
   font-weight:bold;
}
table tr:nth-child(even) td.mot9 {
   background: #FF7F00;
}
.mot10 {
   color: #7F7F00;
   background: #D4D4AA;
   font-weight:bold;
}
td.mot10 {
   background: #7F7F00;
}
