
.span-24 {
   background: #FCFCFC;
   border-left: 12px solid transparent;
   border-right: 12px solid transparent;
}
h2 {
   border-top:4px solid #888;
}
h3 {
   border-top:3px solid #CCC;
}
pre, code, tt {font:1.3em monospace;line-height:1.5;}

.mot1 {
 color: #D5CEBB;
    background: #F1EEE8;
    font-weight:bold;
}
table tr:nth-child(even) td.mot1 {
    background: #F1EEE8;
}
.mot2 {
 color: #9CCED9;
    background: #DEEEF2;
    font-weight:bold;
}
td.mot2 {
    background: #DEEEF2;
}
.mot3 {
 color: #CA96E1;
    background: #EDDCF5;
    font-weight:bold;
}
table tr:nth-child(even) td.mot3 {
    background: #EDDCF5;
}
.mot4 {
 color: #82CFD4;
    background: #D5EFF0;
    font-weight:bold;
}
td.mot4 {
    background: #D5EFF0;
}
.mot5 {
 color: #B7AEA0;
    background: #E7E4DF;
    font-weight:bold;
}
table tr:nth-child(even) td.mot5 {
    background: #E7E4DF;
}
.mot6 {
 color: #83BFEF;
    background: #D5E9F9;
    font-weight:bold;
}
td.mot6 {
    background: #D5E9F9;
}
.mot7 {
 color: #DCB6BC;
    background: #F3E6E8;
    font-weight:bold;
}
table tr:nth-child(even) td.mot7 {
    background: #F3E6E8;
}
.mot8 {
 color: #F8E4AF;
    background: #FCF6E4;
    font-weight:bold;
}
td.mot8 {
    background: #FCF6E4;
}
.mot9 {
 color: #CB81FD;
    background: #EDD5FE;
    font-weight:bold;
}
table tr:nth-child(even) td.mot9 {
    background: #EDD5FE;
}
.mot10 {
 color: #84F5FD;
    background: #D6FBFE;
    font-weight:bold;
}
td.mot10 {
    background: #D6FBFE;
}

.conserved {
   font-style:italic;
}
