
.span-24 {
   background: #FCFCFC;
   border-left: 12px solid transparent;
   border-right: 12px solid transparent;
}
h2 {
   border-top:4px solid #888;
}
h3 {
   border-top:3px solid #CCC;
}
pre, code, tt {font:1.3em monospace;line-height:1.5;}

.mot1 {
   color: #FF00;
   background: #FFAAAA;
   font-weight:bold;
}
table tr:nth-child(even) td.mot1 {
   background: #FFAAAA;
}
.mot2 {
   color: #00FF;
   background: #AAAAFF;
   font-weight:bold;
}
td.mot2 {
   background: #AAAAFF;
}
.mot3 {
   color: #0FF0;
   background: #AAFFAA;
   font-weight:bold;
}
table tr:nth-child(even) td.mot3 {
   background: #AAFFAA;
}
.mot4 {
   color: #FFFF0;
   background: #FFFFAA;
   font-weight:bold;
}
td.mot4 {
   background: #FFFFAA;
}
.mot5 {
   color: #BF7F3F;
   background: #E9D4BF;
   font-weight:bold;
}
table tr:nth-child(even) td.mot5 {
   background: #E9D4BF;
}
.mot6 {
   color: #FF0FF;
   background: #FFAAFF;
   font-weight:bold;
}
td.mot6 {
   background: #FFAAFF;
}
.mot7 {
   color: #0FFFF;
   background: #AAFFFF;
   font-weight:bold;
}
table tr:nth-child(even) td.mot7 {
   background: #AAFFFF;
}
.mot8 {
   color: #7F07F;
   background: #D4AAD4;
   font-weight:bold;
}
td.mot8 {
   background: #D4AAD4;
}
.mot9 {
   color: #FF7F0;
   background: #FFD4AA;
   font-weight:bold;
}
table tr:nth-child(even) td.mot9 {
   background: #FFD4AA;
}
.mot10 {
   color: #7F7F0;
   background: #D4D4AA;
   font-weight:bold;
}
td.mot10 {
   background: #D4D4AA;
}
