*~
Makefile.in
config.h.in
config.h.in~
configure
depcomp
build
autoscan.log
depcomp
install-sh
INSTALL
missing
py-compile
aclocal.m4
autom4te.cache
depcomp
compile
mdate-sh
texinfo.tex
*.info
stamp-vti
version.texi
tags
*_cmdline.*
cmdline.c
cmdline.h
.DS_Store
test
*.swp
.version
.tarball-version
ltmain.sh
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt\~obsolete.m4
m4/libtool.m4
config.guess
config.sub
